* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px;
}

header {
	width: 100%;
}

.navegacion {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #000;
	/* aca se marca la posicion fija de la barra */
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}

/* La propiedad CSS z-index indica el orden de un elemento posicionado y sus descendientes. 
Cuando varios elementos se superponen, los elementos con mayor valor z-index cubren aquellos con menor valor.
Por este motivo la barra nav tiene el z-index más alto del sitio*/


.navegacion ul {
	list-style: none;
}
.navegacion> div{
margin-left: 10%; display: inline-block;
}

.menu > li {
	margin-left: 29px;
	padding-left: 65px;
	position: relative;
	/* display: inline-block los item se posisionan uno al lado del otr0 */
	display: inline-block;
}

    /* color de las letras en barra */
.menu > li > a {
	display: block;
	padding: 10px 20px;
	color: yellowgreen;
	font-family: 'Dancing Script', cursive;
	font-size: x-large;
	text-decoration: none;
}

     /* Proiedad "hover" que se realiza cuando se posiciona sobre una eleccion cambiando de color */
.menu li a:hover {
	color: #CE7D35;
	/* Propidad "transition" hace  que no se vea bruscamente el cambio de color */
	transition: all .3s;
}

/* Submenu dentro de un display*/

.submenu {
	padding-left: 0%;
	position: absolute;
	background: #000;
	width: 130%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
	text-align: left;
}

.submenu li a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	font-family: 'Dancing Script', cursive;
	font-size: large;
	text-decoration: none;
}
/* La proiedad ":hover" realiza un efecto al .submenu */
.menu li:hover .submenu {
	visibility: visible;
	opacity: 1;
}