body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /* aca se marca la posicion fija de la barra */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
/* La propiedad CSS z-index indica el orden de un elemento posicionado y sus descendientes. 
Cuando varios elementos se superponen, los elementos con mayor valor z-index cubren aquellos con menor valor.
Por este motivo la barra nav tiene el z-index más alto del sitio*/

li {
  float: left;
}
/* css letras de la barra de navegacion */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #aa0473;
}

.active {
  background-color: #1e3e32;
}
.texto{
padding:20px;
margin-top:30px;
background-color:#95d2c5;
height:1500px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;}

/* comienzo de lista deplegable */
 .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

li.dropdown {
  display: inline-block;
}
/* display desplegable */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(198, 54, 54, 0.2);
  z-index: 1;
}
/* contendor del texto  */
.dropdown-content a {
  color: rgb(5, 15, 2);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
