* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.formulario-contacto {
width:600px;
background: #0a1c2e;
padding: 20px;
margin: auto;
margin-top: 50px;
border-radius: 4px;
font-family: 'calibri';
color: white;
box-shadow: 7px 13px 37px #000;}

 body {
  background-image: url(/Practicas-Profesionalizantes/img/Fondo/fondo_oscuro.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
 }

.formulario-contacto h4 {
  font-size: 22px;
  margin-bottom: 20px ;

}
.lineatexto {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}
.mensaje{
  width: 100%;
  background: #24303c;
  
  padding: 25px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}
  
  


.botonenviar {
  width: 100% ;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  box-shadow: 3px 5px 20px rgb(113, 105, 162);
  

}
