body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /* aca se marca la posicion fija de la barra */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
/* La propiedad CSS z-index indica el orden de un elemento posicionado y sus descendientes. 
Cuando varios elementos se superponen, los elementos con mayor valor z-index cubren aquellos con menor valor.
Por este motivo la barra nav tiene el z-index más alto del sitio*/

li {
  float: left;
}

/* css letras de la barra de navegacion */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Cambio de color cuabdo se posiciona sobre la palabra */
li a:hover:not(.active) {
  background-color: #12040d;
}