.wsp_ubicacion {
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.imagenes img {
    width: 60%;
    height: auto;

}

h2 {
    margin: 0%;
    color: white;
    text-align: center;
}


@media screen and (max-width: 1320px) {

    .wsp_ubicacion {
        width: 19%;
        margin-left: 35%;
    }

    .imagenes img {
        width: 160%;
        height: auto;
    
    }

    h2 {
        margin: 5%;
        color: white;
        text-align: center;
        font-size: small;
    }
}   
