*{
    margin: 0%;
    padding: 0;
}

.center{
    text-align: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-image:url(../img/Fondo/fondo_oscuro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#portfolio{
    color: white;
}

.video-box{
    width: 80%;
    height: auto;
    margin: 10px auto 0 auto;/*margin: top - right - bottom - left */
    min-width: 250px;
}

.video video{
    width: 100%;
    height: auto;
}

.tituloVideo{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titulos-parrafos{
    text-align: center;
    color: white;
}

.parrafos{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 15%;
    margin-bottom: 10%;
    width: 70%;
    height: auto;
}

.footer-box{
    background-image: url(../img/Fondo/fondo_claro.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 3%;
    margin: 5px auto 0 auto;/*margin: top - right - bottom - left */
    min-width: 250px;
}

.footer{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 15%;
    margin-bottom: 2%;
    width: 70%;
    height: auto;
}

