.center{
    text-align: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fondo{
    background-color: bisque;
    width: 90%;
    height: 200px;
    margin: auto;
}

.cuadro1{
    background-color: crimson;
}

.cuadro2{
    background-color: blueviolet;
}

.cuadro3{
    background-color: chartreuse;
}

body{
    background-image:url(../img/Fondo/fondo.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
body{
    background-image:url(../img/Fondo/fondo_oscuro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}